.lcddisplay{

    background-color: #1d1e22;
    font-family: 'digital-7', sans-serif;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    padding-top: 1px;
    -webkit-box-shadow: #4d4d4d 0 3px 1px;
    -moz-box-shadow: #4d4d4d 0 3px 1px;
    box-shadow: #4d4d4d 0 3px 1px;
}

.container {
    margin: 1em auto 1em auto;
}

.container h1 {
    text-align: center;
    font-weight: 500;
    font-size: 80px;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }

  .container h1 {
    font-size: 150px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 450px;
  }

  .container h1 {
    font-size: 95px;
    width: min-content;
    margin-left: 20%;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 450px;
  }
}

.btn-group {
    font-size: 0;
    line-height: 1;
    white-space: nowrap;
    display: inline;
}

.btn-group button {
    width: 33%;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'digital-7', sans-serif;
    font-weight: 400;
    font-size: 28px;
    background: #ffffff;
    color: #4d4d4d;
    border: 1px solid #bdc3c7;
    border-left-width: 0;
    display: inline-block;
    padding: 0.25em 1.25em;
    outline: 0;
}

.btn-group button:last-child {
    border-right-width: 0;
    width: 34%;
}

.btn-group button:first-child {
    border-radius: 0 0 0 8px;
}

.btn-group button:last-child {
    border-radius: 0 0 8px 0;
}

.btn-group button:active {
    background: #dfdfdf;
    color: #4d4d4d;
}

.laps {
    padding: 10px;
}

.lap {
    padding: 14px 0;
    display: flex;
    color: #a7adae;
    justify-content: space-around;
    border-top: 1px solid #555555a6;
}